---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
{% set metadata = {
  title: site.title,
  url: site.url + '/feed.xml',
  author: site.author,
  description: site.description
} %}
{% set feedItems = collections.posts | reverse | head(20) %}
{{ feedItems | rssFeed(metadata) }}
